@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body{
  background-color: #2c2c54;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  text-align: center;
}

.timer{
  text-align: center;
  color: green;;
}

.buttonsContainer{
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.button{
  border-radius: 10px;
  padding: 10px 20px;
  display: inline;
  font-size: 1.1rem;
  text-align: center;
} */